@charset "UTF-8";
/*
 Theme Name:   Akel shop theme
 Description:  Тема для магазина Akel
 Author:       Me
 Template:     eightstore-lite
 Version:      0.0.1
 Text Domain:  akel
*/
body {
  font-family: inherit;
}

.main-navigation li {
  font-family: inherit;
}

.caption-title p {
  font-family: inherit;
}

.caption-desc {
  font-family: inherit;
}

.product-cat-desc > h3 {
  font-family: inherit;
}

.item-wishlist span {
  font-family: inherit;
}

.title-cart h3 {
  font-family: inherit;
}

#section-promo2 .caption h4 {
  font-family: inherit;
}

#section-promo2 .desc {
  font-family: inherit;
}

.caption .desc {
  font-family: inherit;
}

#section-product2 .prod-title {
  font-family: inherit;
}

#section-product2 .ufbl-form-title {
  font-family: inherit;
}

#section-product2 .ufbl-form-field-wrap, #section-product2 .ufbl-default-template .ufbl-form-field-wrap {
  font-family: inherit;
}

#section-product2 .ufbl-form-submit {
  font-family: inherit;
}

.blogs .home-title, .testimonials .home-title {
  font-family: inherit;
}

.blogs .blog-content {
  font-family: inherit;
}

.woocommerce .woocommerce-tabs .panel h2 {
  font-family: inherit;
}

.main-header {
  background: #EAEAEA;
}

.site-branding {
  width: 70%;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.site-branding img {
  width: 100px;
}

.right-links {
  width: auto;
  float: right;
  text-align: right;
}

.store-menu {
  background: #373737;
  color: #fff;
  text-align: center;
}

.nav-menu li a:hover {
  background-color: #000;
}

.header-search {
  display: none;
}

.social-icons .fa {
  background: #656565;
}
.social-icons .fa:hover {
  background: #aaa;
}

.store-wrapper #secondary {
  float: left;
  padding-right: 1%;
}
.store-wrapper #primary {
  margin-left: 40px;
  float: right;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle:hover {
  background-color: #000;
}

#primary h1.entry-title, #secondary h1.widget-title, .page-title {
  color: #fff;
  background-color: #656565;
}

#primary .entry-header h1.entry-title a {
  color: inherit;
  text-decoration: none;
}

#primary .entry-header h1.entry-title a:hover {
  color: inherit;
  text-decoration: underline;
  display: inline-block;
  width: 100%;
}

.entry-meta a, .read-more, .read-more:visited {
  color: #656565;
}

.woocommerce .add_to_wishlist, .yith-wcwl-wishlistaddedbrowse > a, .yith-wcwl-wishlistexistsbrowse > a {
  color: #fff;
  background-color: #656565;
}

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
  color: #fff;
  background-color: #656565;
}

.woocommerce .woocommerce-tabs ul.tabs.wc-tabs li.active a, .woocommerce .woocommerce-tabs ul.tabs.wc-tabs li:hover a {
  color: #fff;
  background-color: #656565;
  border: 1px solid #656565;
}

.woocommerce #respond input#submit, .woocommerce button.button, .woocommerce input.button, .shipping-calculator-button {
  color: #fff;
  background-color: #656565;
}

.woocommerce .woocommerce-error, .woocommerce .woocommerce-info, .woocommerce .woocommerce-message {
  border-bottom: 3px solid #656565;
}

.woocommerce table.my_account_orders .order-actions .button, input[type="submit"].ufbl-form-submit {
  color: #fff;
  background-color: #656565;
}

.archive .comments-link {
  border-left: 1px solid #656565;
}

a.comment-reply-link, .comment-form .form-submit input#submit {
  color: #fff;
  background-color: #656565;
}

h3.comment-reply-title {
  color: #fff;
  background-color: #656565;
}

.search span.comments-link, .search span.cat-links {
  color: #fff;
  background-color: #656565;
}

.nav-previous a, .nav-next a {
  color: #fff;
  background-color: #656565;
}

.no-results.not-found .search-submit {
  color: #fff;
  background-color: #656565;
}

.search-in-select select.select-search-type {
  border: 1px solid #656565;
}

input.ufbl-form-submit[type="submit"] {
  background: #656565 none repeat scroll 0 0;
}

.nav-menu li a:hover, .main-navigation .current_page_item > a, .main-navigation .current-menu-item > a, .main-navigation .current_page_ancestor > a {
  color: #fff;
  background: #000;
}

#primary h1.entry-title::after, #secondary h1.widget-title::after, .page-title::after {
  border-top: 20px solid #656565;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
  background-color: #656565;
  box-shadow: none;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
  background-color: #656565;
}

.woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span.current {
  color: #fff;
  background-color: #656565;
}

a.button.add_to_cart_button.product_type_simple, .title-cart a.product_type_variable, .title-cart a.product_type_grouped, .title-cart a.product_type_external, .title-cart a.button.ajax_add_to_cart.product_type_simple {
  color: #fff;
  background: #656565;
  width: auto;
  height: auto;
  padding: 0.2em 0.8em;
  display: inline;
  position: relative;
  top: 1.5em;
  border-radius: 2px;
}

.title-cart a.button.add_to_cart_button.product_type_simple:hover, .title-cart a.product_type_variable:hover, .title-cart a.product_type_grouped:hover, .title-cart a.product_type_external:hover, .title-cart a.button.ajax_add_to_cart.product_type_simple:hover,
.title-cart a.button.add_to_cart_button.ajax_add_to_cart.product_type_simple::before, .title-cart a.button.add_to_cart_button.product_type_simple::before, .title-cart a.product_type_variable::before, .title-cart a.product_type_grouped::before, .title-cart a.product_type_external::before, .title-cart a.button.ajax_add_to_cart.product_type_simple::before {
  background: #656565;
}

.title-cart a:hover {
  color: #000;
}

.title-cart a.button.add_to_cart_button.ajax_add_to_cart.product_type_simple::after, .title-cart a.button.add_to_cart_button.product_type_simple::after, .title-cart a.product_type_variable::after, .title-cart a.product_type_grouped::after, .title-cart a.product_type_external::after, .title-cart a.button.ajax_add_to_cart.product_type_simple::after {
  border-top: 7px solid #656565;
}

.woocommerce a.added_to_cart, .home a.added_to_cart {
  position: relative;
  top: 1.5em;
  background: url(images/view-cart-icon.jpg) no-repeat;
}

.cart-count {
  color: #656565;
}

.main-header .fa:hover, .my-account:hover .fa {
  color: #fff;
  background-color: #656565;
}

.main-header .right-links .cart-box .widget_shopping_cart {
  color: #fff;
  background-color: #656565;
}

.main-header .cart-box .product_list_widget > li {
  border-bottom: 1px solid #ffffff;
}

.main-header .right-links .cart-box .widget_shopping_cart::before {
  border-bottom: 7px solid #656565;
}

.cart-box .woocommerce a.button {
  background: #a4a4a4;
  color: #fff;
}

.cart-box .woocommerce a.button:hover {
  background: #7e7e7e;
}

article a {
  color: #656565;
  text-decoration: underline;
}

.woocommerce-cart a.remove {
  background: #656565 none repeat scroll 0 0;
}

/*.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover, .woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover*/
/*{ background-color: #9c9c9c; }*/
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover,
.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover,
.woocommerce #respond input#submit:hover, .woocommerce button.button:hover, .woocommerce input.button:hover {
  background: #000;
}

.welcome-user {
  color: #fff;
  background-color: #656565;
}

.welcome-user::before {
  border-bottom: 10px solid #656565;
}

.woocommerce-ordering option:hover,
.woocommerce-ordering option:focus,
.woocommerce-ordering option:active,
.woocommerce-ordering option:checked {
  background: linear-gradient(#000, #000);
}

.main-header .right-links .my-account form.login .button, .main-header .right-links .my-account a.register {
  background: #8f8f8f;
  color: #fff;
  border: 1px solid #656565;
  text-decoration: none;
}

.main-header .right-links .my-account form.login .button:hover, .main-header .right-links .my-account a.register:hover {
  border: 1px solid #ababab;
  color: #fff;
  background: #ababab;
}

.welcome-user a {
  color: #fff;
  text-decoration: underline;
}

.main-navigation {
  z-index: 1000;
}
.main-navigation ul.menu li::before {
  content: none;
  border-right: 1px solid #000;
}
.main-navigation li:not(:first-child) a {
  border-left: 1px solid #000;
  margin-left: -5px;
}
.main-navigation .menu {
  background: #373737 !important;
}
.main-navigation li {
  border-bottom: none;
}

button.menu-toggle {
  color: #cecece !important;
}

button.menu-toggle:hover {
  color: #fff !important;
}

.woocommerce .woocommerce-breadcrumb {
  color: #000;
}

/*{ color: #fff; background-color: #656565; }
{ color: #fff; background-color: #656565; }*/
.search .entry-footer span.edit-link a {
  color: #fff;
  background-color: #656565;
}

/*---------------------  Shop filter styles ---------------------*/
.woof_container {
  border-bottom: 1px solid #C6C6C6;
  padding-bottom: 2em;
}

.woof_price_search_container {
  margin-top: 3em;
  border-bottom: none;
}

.woof_list_radio li {
  position: relative;
}
.woof_list_radio li:hover .woof_radio_term_reset, .woof_list_radio li:focus .woof_radio_term_reset, .woof_list_radio li:active .woof_radio_term_reset {
  background: inherit !important;
}
.woof_list_radio li .woof_radio_term_reset {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: block;
}
.woof_list_radio li .woof_radio_term_reset img {
  display: none;
}

.woof_container_size .woof_list_radio, .woof_container_inner_color .woof_list_radio {
  display: flex;
  flex-wrap: wrap;
}
.woof_container_size .woof_list_radio li, .woof_container_inner_color .woof_list_radio li {
  display: inline-block;
}
.woof_container_size ins, .woof_container_inner_color ins {
  display: none;
}
.woof_container_size .iradio_minimal-grey, .woof_container_inner_color .iradio_minimal-grey {
  display: none !important;
}
.woof_container_size .iradio_minimal-grey.checked, .woof_container_inner_color .iradio_minimal-grey.checked {
  background: green;
}
.woof_container_size .woof_radio_label, .woof_container_inner_color .woof_radio_label {
  background: #D8D7DC;
  width: 3em;
  height: 3em;
  text-align: center;
  position: relative;
  border-radius: 5px;
}
.woof_container_size .woof_radio_label:before, .woof_container_inner_color .woof_radio_label:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.woof_container_size .woof_radio_label_selected, .woof_container_inner_color .woof_radio_label_selected {
  background: #a7a7aa;
}

.woof_container_inner_color .woof_radio_label {
  width: auto;
  padding: 0 1em;
}

.woof_container_inner_content ins, .woof_container_metal ins, .woof_container_inner_inputs ins, .woof_container_inner_categories ins {
  background: #fff !important;
  border: 1px solid #B4B5B0 !important;
  opacity: 1 !important;
  border-radius: 3px !important;
}
.woof_container_inner_content .checked ins:before, .woof_container_metal .checked ins:before, .woof_container_inner_inputs .checked ins:before, .woof_container_inner_categories .checked ins:before {
  content: "";
  position: absolute;
  top: 25%;
  bottom: 25%;
  left: 25%;
  right: 25%;
  width: 50%;
  height: 50%;
  background: #525252;
  border-radius: 2px;
}

.woof_container_inner h4 {
  position: relative;
  padding-left: 2.5em;
}
.woof_container_inner h4:before {
  content: "";
  width: 2em;
  height: 2em;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}

.woof_container_inner_size h4:before {
  background-image: url("images/icon_size.png");
}

.woof_container_inner_color h4:before {
  background-image: url("images/icon_color.png");
}

.woof_container_inner_content h4:before {
  background-image: url("images/icon_content.png");
}

.woof_container_inner_metal h4:before {
  background-image: url("images/icon_metal.png");
}

.woof_container_inner_inputs h4:before {
  background-image: url("images/icon_inputs.png");
}

.woof_container_inner_categories h4:before {
  background-image: url("images/icon_categories.png");
}

/*--------------------- !Shop filter styles ---------------------*/
.woocommerce form .form-row.woocommerce-validated .select2-container, .woocommerce form .form-row.woocommerce-validated input.input-text, .woocommerce form .form-row.woocommerce-validated select {
  border-color: #000;
}

.woocommerce .woocommerce-info::before {
  color: #515151;
}

.entry-content .woocommerce-info a {
  color: #424242;
  border-bottom: none !important;
}

.entry-content .woocommerce-info a:hover {
  color: #000;
  border-bottom: none !important;
}

div#es-top:hover {
  background: #eeeeee;
  color: #000;
}

.site-info > a:hover {
  color: #eaeaea;
}
